.vscode/**
.vscode-test/**
src/**
out/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
.github/**
DEVELOPMENT.md
example-settings.json
webpack.config.js
**/.DS_Store
**/Thumbs.db
**/*.vsix
.git/**
*.md
!README.md
test/**
**/*.test.js
**/*.test.ts
coverage/**
.nyc_output/**
**/*.tsbuildinfo
node_modules/**
**/.vscode-test.*
